
.project-container {
  background: #fff; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #333; 
}

.Grid {
  margin-top: 10px;
}

.hw-set {
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; 
}

button {
  margin-top: 10px;
  margin-right: 5px; 
}


.button-group {
  display: flex; 
}

